* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
  
body {
    background-color: #d7d3dc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
/* Calculadora */
.calculator {
    background-color: #3a3a3a;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 320px;
}
  
/* Display */
#display {
    background-color: #dcd6e3;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 15px;
    font-size: 2rem;
    text-align: right;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 80px;
    max-height: 200px;
    overflow-y: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
  
/* Grade de botões */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}
  
button {
    height: 60px;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.1s ease;
}
  
button:hover {
    transform: scale(1.05);
}
  
/* Cores por tipo */
.number {
    background-color: #da872a;
}
  
.operator,
.equals,
.function,
.decimal {
    background-color: #dcd6e3;
}
  
.equals {
    background-color: #dcd6e3;
    grid-column: span 1;
}
  
.zero {
    grid-column: span 2;
}  